{% extends 'cafe_cat/base_generic.html' %}

{% block title %}
    {% if user.is_authenticated %}
        {{ user.username }} - Аккаунт - Кафе Nutri
    {% else %}
        Аккаунт - Кафе Nutri
    {% endif %}
{% endblock %}

{% block content %}
    <h2>Добро пожаловать в ваш аккаунт!</h2>
    <!-- Здесь можно добавить дополнительный контент для страницы аккаунта -->
    {% if user.is_authenticated %}
        <form action="{% url 'cafe_cat:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выход</button>
        </form>
    {% endif %}
{% endblock %}
