<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Кафе Nutri{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'cafe_cat:index' %}">Кафе Nutri</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'cafe_cat:view_cart' %}">Корзина</a></li>
                <li><a href="{% url 'cafe_cat:checkout' %}">Доставка</a></li>
                <li><a href="{% url 'cafe_cat:menu' %}">Меню</a></li>
                {% if user.is_authenticated %}
                    <p>Account: <a href="{% url 'cafe_cat:account' %}">Account</a></p>
                {% else %}
                    <p>Login: <a href="{% url 'cafe_cat:login' %}">Login</a></p>
                    <p>Register: <a href="{% url 'cafe_cat:register' %}">Register</a></p>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2024 Кафе Nutri. Все права защищены.</p>
        <a href="">О нас</a>
    </footer>
</body>
</html>
