{% extends 'cafe_cat/base_generic.html' %}

{% block title %}Доставка{% endblock %}

{% block content %}
    <h2>Доставка</h2>

    <h3>Варианты доставки</h3>
    <p>Мы предлагаем несколько вариантов доставки для вашего удобства:</p>
    <ul>
        <li>Доставка курьером</li>
        <li>Самовывоз из нашего кафе</li>
        <li>Доставка через партнерские службы</li>
    </ul>

    <h3>Районы доставки и ограничения</h3>
    <p>Мы доставляем в следующие районы:</p>
    <ul>
        <li>Центральный район</li>
        <li>Западный район</li>
        <li>Восточный район</li>
    </ul>
    <p>Обратите внимание, что в некоторых районах могут быть установлены ограничения на минимальную сумму заказа и время доставки.</p>

    <h3>Рекомендации и специальные предложения</h3>
    <p>Ознакомьтесь с нашими рекомендованными блюдами и специальными предложениями, доступными для доставки!</p>

    <h3>Контактная информация и часы работы</h3>
    <p>Для запросов или размещения заказа, пожалуйста, свяжитесь с нами:</p>
    <ul>
        <li>Телефон: 123-456-7890</li>
        <li>Email: info@cafenutri.com</li>
    </ul>
    <p>Часы доставки: Понедельник - Воскресенье, с 10:00 до 22:00.</p>

    <h3>Оформление заказа</h3>
    <p>Ознакомьтесь с меню и оформите доставку</p>
    <a href="{% url 'cafe_cat:menu' %}">Меню</a>
{% endblock %}
