{% extends 'cafe_cat/base_generic.html' %}

{% block content %}
    <h2>Меню</h2>
    {% if items %}
        <ul>
            {% for item in items %}
                <li class="{% if item.is_featured %}featured{% endif %}">
                    <h3>{{ item.name }}</h3>
                    {% if item.on_sale %}
                        <p>Цена: <del>{{ item.price }}</del> {{ item.sale_price }}</p>
                    {% else %}
                        <p>Цена: {{ item.price }}</p>
                    {% endif %}
                    <p>{{ item.description }}</p>
                    <form action="{% url 'cafe_cat:add_to_cart' item.id %}" method="post">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="1" min="1">
                        <input type="submit" value="Добавить в корзину">
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>В данный момент единицы меню недоступны.</p>
    {% endif %}
{% endblock %}
