{% extends 'cafe_cat/base_generic.html' %}

{% block title %}Ваша корзина{% endblock %}

{% block content %}
    <h2>Ваша корзина</h2>
    {% if cart_items %}
        <form id="cart_form" action="{% url 'cafe_cat:remove_selected' %}" method="post">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Выбрать</th>
                        <th>Товар</th>
                        <th>Количество</th>
                        <th>Цена</th>
                        <th>Всего</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart_item in cart_items %}
                    <tr>
                        <!-- Изменим условие для установки атрибута selected -->
                        <td><input type="checkbox" name="selected_items" value="{{ cart_item.id }}" {% if cart_item.selected %}checked{% endif %}></td>
                        <td>{{ cart_item.item.name }}</td>
                        <td>{{ cart_item.quantity }}</td>
                        <td>
                            {% if cart_item.item.on_sale %}
                                {{ cart_item.item.sale_price }}
                            {% else %}
                                {{ cart_item.item.price }}
                            {% endif %}
                        </td>
                        <td>{{ cart_item.total_item }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Общее количество: {{ total_quantity }}</p>
            <p>Общая цена: {{ total_price }}</p>
            <!-- Поле для передачи выбранных товаров -->
            {% for cart_item in cart_items %}
                {% if cart_item.selected %}
                    <input type="hidden" name="menu_items" value="{{ cart_item.id }}">
                {% endif %}
            {% endfor %}
            <button type="submit">Удалить выбранные</button>
            <button type="submit" formaction="{% url 'cafe_cat:place_order_selected' %}">Оформить заказ</button>
        </form>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
{% endblock %}
